:root{
    --bg-blue: #1d3557;
    --bg-murky: #3e4258;
    --white: #f1faee;
    --red: #e63946;
    --light-red: #fa7878;
    --scroll-shadow: #8e7f63;
    --scroll-base: #c0ad85;
}

*{
    font-family: sans-serif;
    /* border: 1px solid black; */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    position: relative;

}

.white{
    filter: invert(100%);
}

nav{
    width: 100%;
    height: 100px;
    background-color: var(--bg-blue);
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-link{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}
.nav-button{
    margin-right: 20px;
    background-color: var(--red);
    border: none;
    color: var(--white);
    height: 60px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
}
.nav-button:hover{
    opacity: 80%;
    cursor: pointer;
    text-decoration: underline;
}
.nav-button:focus{
    opacity: 80%;
    outline:none;
    text-decoration: underline;
}
.nav-link:hover{        
    text-decoration: underline;
}
.nav-link:focus{
    text-decoration: underline;
    outline: none;
}

.hero-container{
    margin: 0;
    padding: 0;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    background: linear-gradient(
        var(--bg-blue),
        var(--bg-murky)
    );
    position: relative;
}
.introduction-container{
    margin-left: 20px;
    color: var(--white);
    font-size: 40px;
    margin-bottom: 100px;
}
.introduction-container *{
    margin: 0;
}
.introduction-container h1{
    font-size: clamp(20px, 10vmin,150px);
    font-weight: normal;
}
.introduction-container h6{
    font-size: clamp(10px, 5vmin, 20px);
}
.nautical-text{
    font-family: "Chelsea Market";
    font-weight: normal;
}
.plant-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.plant-container *{
    position: absolute;
    bottom: -15px;
}

#seaweed1{
    width: clamp(100px, 35vmin,800px);
    height: clamp(100px, 35vmin,800px);
    right: 20vw;
    color: #fff;
    z-index: 4;
}
#seaweed2{
    width: clamp(100px, 20vmin,600px);
    height: clamp(100px, 20vmin,600px);
    bottom: -5px;
    right: 15vw;
    z-index: 5;
}
#seaweed3{
    width: clamp(100px, 40vmin,400px);
    height: clamp(100px, 40vmin,400px);
    left: 10vw;
    z-index: 5;
}
#coral1{
    width: clamp(100px, 20vmin,200px);
    height: clamp(100px, 20vmin,200px);
    bottom: -3vh;
    left: 5vw;
    z-index: 4;
}
#coral2{
    width: clamp(100px, 40vmin,1000px);
    height: clamp(100px, 40vmin,1000px);
    right: 1vw;
    z-index: 3;
}

canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.portfolio-container{
    background: linear-gradient(
        var(--bg-murky),
        white 20px
    );
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.portfolio-container h1{
    width: 100%;
    text-align: center;
    color: var(--red)
}
.portfolio-card-container{
    /* border: 1px solid black; */
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 50px;
    place-items: center;
}
.portfolio-card{
    width: 400px;
    height: 450px;
    position: relative;
}
.portfolio-card-title{
    z-index: 3;
    width: 100%;
    position: absolute;
    font-size: clamp(10px, 5vmin, 20px);

    top: 12%
}
.portfolio-img{
    width: 50%;
    height: 44.5%;
    position: absolute;
    z-index: 4;
    border: 5px solid var(--scroll-shadow);
    top: 30%;
    left: 21%;
}
.p-title-1{
    left: 21%;
}
.p-title-2{
    left: 13%
}
.p-title-3{
    left: 10%
}
.p-title-4{
    left: 19%
}
.portfolio-card > a:hover{
    opacity: 60%;
    cursor: pointer;
}
.portfolio-card > a:focus{
    opacity: 99%;
    z-index: 5;
}
.portfolio-bookmark{
    z-index: 15;
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: -100px;
}

.top-edge{
    position: absolute;
    top: 0;
    left: 5%;
    width: 80%;
    height: 20%;
    background: linear-gradient(
        var(--scroll-base),
        var(--scroll-shadow)
    );
    z-index: 1;
}
.top-left-edge{
    position: absolute;
    width: 10%;
    height: 20%;
    background-color: var(--scroll-shadow);
    border-radius: 60%;
    top:0;
    left:0;
    z-index: 2;
}
.top-right-edge{
    position: absolute;
    width: 10%;
    height: 20%;
    background: linear-gradient(
        var(--scroll-base),
        var(--scroll-shadow)
    );
    border-radius: 60%;
    top:0;
    right: 10%;
    z-index: 2;
}
.scroll-page{
    position: absolute;
    width: 82%;
    height: 75%;
    background-color: var(--scroll-base);
    top: 50px;
    left: 5%;
    border: 5px solid var(--scroll-shadow)
}

.bottom-edge{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 20%;
    background: linear-gradient(
        var(--scroll-base),
        var(--scroll-shadow)
    );
    z-index: 1;
}
.bottom-left-edge{
    position: absolute;
    width: 10%;
    height: 20%;
    background-color: var(--scroll-shadow);
    border-radius: 60%;
    bottom:0;
    left:5%;
    z-index: 2;
}
.bottom-right-edge{
    position: absolute;
    width: 10%;
    height: 20%;
    background: linear-gradient(
        var(--scroll-base),
        var(--scroll-shadow)
    );
    border-radius: 60%;
    bottom:0;
    right: 5%;
    z-index: 2;
    
}




.contact-me{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    place-items: center;
    z-index: 10;
    display: none;
}

.contact-me-bg{
    width: 100%;
    height: 100%;
    background-color: hsla(0,100%,100%,0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.contact-me-card{
    z-index: 11;
    width: 600px;
    height: 600px;
    background: linear-gradient(
        var(--light-red),
        var(--red)
    );
    border-radius: 5px;
    padding: 10px;
    position: relative;
    color: var(--white);
}
.close-contact-me-button{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    background: transparent;
    border: none;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}
.contact-me-card > h1 {
    width: 100%;
    text-align: center;
    font-weight: 400;
    letter-spacing: .01em;
}
.contact-me-card > form{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me-card > form > input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--white);
    height: 20px;
}
#message {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--white);
    height: 20px;
}
.contact-me-card > form > input:focus {
    outline: 1px solid var(--white);
}
.contact-me-card > form > label {
    width: 100%;
    font-size: 12px;
}
#contact-me-submit-button{
    background-color: var(--bg-murky);
    width: 50%;
    height: 50px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1075px) {
    .portfolio-card-container{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 600px) {
    .portfolio-card{
        width: 300px;
        height: 350px;
    }
    .portfolio-card-title{
        font-size: 16px;
    }
    .top-edge{
        width: 82%;
    }
    .top-right-edge{
        right: 8%;
    }
    .p-title-3{
        left: 8%;
    }
    .contact-me-card{
        width: 350px;
        height: 600px;
    }
    #contact-me-submit-button{
        width: 100%;
        height: 50px;
    }
    .nav-link{
        font-size: 16px;
    }
    .nav-button{
        margin-right: 0px;
        width: 150px;
        font-size: 16px;
        height: 50px;
    }
    nav{
        justify-content: space-around;
        gap: 20px;
    }
}
@media screen and (min-width: 2000px) {
    .portfolio-card-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
